In [4]:
# This is a single line comment in python
""" In Python comments
with multiple lines are
represented by three
quotation marks """

# Here is an integer variable
x = 7

# Here is a string variable
y = "String variable"

# now we can output these using
print(y)

String variable

In [8]:
# In TypeCasting: we can change the type of the variable

x = 5

# This outputs the variable type of x
print (type(x))

# Likewise for strings...
y = "Hello IUK"
print (type(y))

# To change the type of x,
x = str("45")
print(type(x))

# To get x back to an int,

x = int(x)
print(type(x))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>

In [9]:
# String variable declaration
# You can use either single or double quotes to do so
x = "Hello World"
y = 'Hello World'

# They output the same result
print(x)
print(y)

Hello World
Hello World

In [11]:
from os import tcgetpgrp
# str [text]
# int and float for numeric values
# list tuple range sets dictionaries [sequences]
# bool [boolean]

x = 7
u = 0.5

t = "text"

print(type(x))
print(type(u))
print(type(t))

<class 'int'>
<class 'float'>
<class 'str'>

In [13]:
s = """ My name is Drew I go to IU-Kokomo """
print(type(s))

<class 'str'>

In [16]:
# python does not have a character data type, so instead we call a character a string of length 1.
a = "Hello IUK"

#To display the first character of variable named a,
print(a[0])

# To find the length of a string
print(len(a))

H
9