In [ ]:
# Boolean Variables
print(7 > 6)
print(5 == 5)
print(5 < 4)

a = 5
b = 6
if(a == b):
  print("a is equal to b")
else:
  print("a is not equal to b")

True
True
False
a is not equal to b

In [ ]:
#bool()
print(bool()) #empty list
print(bool(())) #tuple
print(bool({})) #set

False
False
False

In [ ]:
#operations
a = 10
b = 20
c = "Hello"
d = " IUK"
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

print(c+d)

30
-10
200
0.5
10
Hello IUK

In [ ]:
# Lists : Multiple items put in one variable, collection of varied data types
#lists use []

list1 = ["Apples", "Oranges", "Bananas", "Bananas"]

#ordered
print(list1)

list2 = ["Strawberry", 4, 4.5]

print(list2)
#duplicates are allowed

#joining multiple lists

list3 = list1 + list2
print(list3)

print(len(list3))

#changeable

list1[0] = "blueberry"

print(list1)

['Apples', 'Oranges', 'Bananas', 'Bananas']
['Strawberry', 4, 4.5]
['Apples', 'Oranges', 'Bananas', 'Bananas', 'Strawberry', 4, 4.5]
7

In [ ]:
# Tuples are collections of data
# one variable
# unchangeable

tuple1= ("Apples", "Oranges", "Bananas")

print(tuple1)

tuple2 = ("Strawberry",7, 8.5"blueberry")

print(tuple2)

tuple3 = tuple1+tuple2

print(tuple3)
print(tuple1[2])

In [ ]:
# A set in python is a collection of data stored in one variable
# unordered and unindexed

set1 = {"Apples", "Oranges", "Bananas"}

print(set1)

print(len(set1))

set2 = ("Blueberry", "Strawberry")

print(set1.union(set2))

{'Bananas', 'Apples', 'Oranges'}
3
{'Oranges', 'Blueberry', 'Strawberry', 'Apples', 'Bananas'}

In [ ]:
# Key value pair
#{}

dictionary1 = {"Title" : "Atomic Habits", "Pages" : 250, "cost" :10.5}

print(dictionary1)

#duplicates ignored

print(dictionary1["Title"])

dictionary1["cost"] = 9.5

print(dictionary1)

#changeable

In [ ]:
# Conditional statements

a = 10
b = 5

if b > a:
  print("b is greater")
elif b == a:
  print(" b equals a")
else:
  print(" b is smaller")

 b is smaller

In [ ]:
# Primitive for loops in python are while loop and for loop
# While loop executes a statement as long as the condition is true

i = 9

while i < 9:
  print(i)
  i += 1

In [ ]:
#for loop can be used over a sequence
#list, array, set, tuple, and dictionary

for i in range(9):
  print(i)

a = "Hello World"

for i in a:
  print(i)

set6 = (1,4,6,"apple","apple")

for i in set6:
  print(i)

for i in dictionary1:
  print(i)

0
1
2
3
4
5
6
7
8
H
e
l
l
o

W
o
r
l
d
1
4
6
apple
apple
Title
Pages
cost

Python Methods for Lists

append
clear
copy
count
index
insert
pop
remove
sort
reverse

In [ ]:
list1 = ["Apple", "Orange", "Banana"]
print(list1)

list1.append("Strawberry")
print(list1)

# clear to empty the lists

list1.clear()
print(list1)

list2 = ["a", "b", "c", "d"]
list3 = list2.copy()

print(list3)

['Apple', 'Orange', 'Banana']
['Apple', 'Orange', 'Banana', 'Strawberry']
[]
['a', 'b', 'c', 'd']

In [ ]:
#count
list2=["a","b","c","d","x","y"]

count = list2.count("c")
print(count)

#index

print(list2.index("a"))

#insert
print(list2)
list2.insert(4, "blueberry")
print(list2)

#pop
print(list2)
list2.pop(5)
print(list2)

#remove
print(list2)
list2.remove("blueberry")
print(list2)

list3 = ["a","b","z","c","d","x","y"]
list3.sort()
print(list3)

1
0
['a', 'b', 'c', 'd', 'x', 'y']
['a', 'b', 'c', 'd', 'blueberry', 'x', 'y']
['a', 'b', 'c', 'd', 'blueberry', 'x', 'y']
['a', 'b', 'c', 'd', 'blueberry', 'y']
['a', 'b', 'c', 'd', 'blueberry', 'y']
['a', 'b', 'c', 'd', 'y']
['a', 'b', 'c', 'd', 'x', 'y', 'z']

In [ ]:
#functions

def msg():
  print("Hello IUK")

msg()

def add(x,y):
  return x+y

print(add(1,2))
add("Hello", " world")

Hello IUK
3

'Hello world'

In [22]:
# classes in python

class Book:

  def __init__(self, title, cost, pages):
    self.title = title
    self.cost = cost
    self.pages = pages

  def details(self):
    print(f"The title of the book is {self.title} the cost is {self.cost} the number of pages is {self.pages}")

Bk1 = Book("Power of Habit", 11.50, 250)
#Book.details(Bk1)
Bk1.details()

# After the creation of the objects

#Bk1.Title = "Atomic Habits"
#Bk1.Cost = 15.6
#Bk1.pages = 250

print(vars(Bk1))

The title of the book is Power of Habit the cost is 11.5 the number of pages is 250
{'title': 'Power of Habit', 'cost': 11.5, 'pages': 250}

In [34]:
class Car:

  def __init__(self, model, year, speed):
    self.model = model
    self.year = year
    self.speed = speed

  def get_speed(self):
    return speed

  def accelerate(self,speed):
    return speed +10

  def brake(self, speed):
    return speed -6

  def details(self):
    print(f"The Model of the car is {self.model} the year of the car is {self.year} and the speed of the car is {self.speed}")

car1 = Car("Mustang GT", 2021, 35)

car1.details()
print(car1.get_speed(35));
print(car1.speed)
print(car1.accelerate(35))
print(car1.brake(35))
print(car1.accelerate(35))
print(car1.get_speed(35))

The Model of the car is Mustang GT the year of the car is 2021 and the speed of the car is 35
35
35
45
29
45
35

In [36]:
class Car:

  def __init__(self,model, year, speed):
    self.model = model
    self.speed = speed
    self.year = year

  def accelerate(self):
    self.speed +=10

  def brake(self):
    self.speed -=6

  def getSpeed(self):
    return self.speed




c1 = Car("Mustang Gt", 1500, 0)

print("Initial speed")
print(c1.getSpeed())
c1.getSpeed()
c1.accelerate()
c1.brake()
c1.accelerate()
print("Current speed")
c1.getSpeed()

Initial speed
0
Current speed

14