In [2]:
# Boolean Variables
print(7 > 6)
print(5 == 5)
print(5 < 4)

a = 5
b = 6
if(a == b):
  print("a is equal to b")
else:
  print("a is not equal to b")

True
True
False
a is not equal to b

In [3]:
#bool()
print(bool()) #empty list
print(bool(())) #tuple
print(bool({})) #set

False
False
False

In [6]:
#operations
a = 10
b = 20
c = "Hello"
d = " IUK"
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

print(c+d)

30
-10
200
0.5
10
Hello IUK

In [10]:
# Lists : Multiple items put in one variable, collection of varied data types
#lists use []

list1 = ["Apples", "Oranges", "Bananas", "Bananas"]

#ordered
print(list1)

list2 = ["Strawberry", 4, 4.5]

print(list2)
#duplicates are allowed

#joining multiple lists

list3 = list1 + list2
print(list3)

print(len(list3))

#changeable

list1[0] = "blueberry"

print(list1)

['Apples', 'Oranges', 'Bananas', 'Bananas']
['Strawberry', 4, 4.5]
['Apples', 'Oranges', 'Bananas', 'Bananas', 'Strawberry', 4, 4.5]
7

In [ ]:
# Tuples are collections of data
# one variable
# unchangeable

tuple1= ("Apples", "Oranges", "Bananas")

print(tuple1)

tuple2 = ("Strawberry",7, 8.5"blueberry")

print(tuple2)

tuple3 = tuple1+tuple2

print(tuple3)
print(tuple1[2])

In [12]:
# A set in python is a collection of data stored in one variable
# unordered and unindexed

set1 = {"Apples", "Oranges", "Bananas"}

print(set1)

print(len(set1))

set2 = ("Blueberry", "Strawberry")

print(set1.union(set2))

{'Bananas', 'Apples', 'Oranges'}
3
{'Oranges', 'Blueberry', 'Strawberry', 'Apples', 'Bananas'}

In [13]:
# Key value pair
#{}

dictionary1 = {"Title" : "Atomic Habits", "Pages" : 250, "cost" :10.5}

print(dictionary1)

#duplicates ignored

print(dictionary1["Title"])

dictionary1["cost"] = 9.5

print(dictionary1)

#changeable

In [14]:
# Conditional statements

a = 10
b = 5

if b > a:
  print("b is greater")
elif b == a:
  print(" b equals a")
else:
  print(" b is smaller")

 b is smaller

In [ ]:
# Primitive for loops in python are while loop and for loop
# While loop executes a statement as long as the condition is true

i = 9

while i < 9:
  print(i)
  i += 1

In [18]:
#for loop can be used over a sequence
#list, array, set, tuple, and dictionary

for i in range(9):
  print(i)

a = "Hello World"

for i in a:
  print(i)

set6 = (1,4,6,"apple","apple")

for i in set6:
  print(i)

for i in dictionary1:
  print(i)

0
1
2
3
4
5
6
7
8
H
e
l
l
o

W
o
r
l
d
1
4
6
apple
apple
Title
Pages
cost